{% extands "base.html" %}
{% block title %}
Sign Up
{% endblock the content%}
<form method="POST">
    <h3 align="center"> Sign Up</h3>
    <div class="from grop">
        <label for="email"> Email Adress</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder=" Enter email"
        />
    </div>
    <div class="from grop">
        <label for="FirstName"> First Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="FirstName" 
        name="FirstName" 
        placeholder="enter first name"
        />
    </div>


    <div class="from grop">
        <label for="pasword1"> pasword</label>
        <input 
        type="password" 
        class="form-control" 
        id="password1" 
        name="password1" 
        placeholder="enter first password"
        />
    </div>

   <div class="from grop">
        <label for="pasword2"> pasword(Confirm)</label>
        <input 
        type="password" 
        class="form-control" 
        id="password2" 
        name="password2" 
        placeholder="Confirm password"
        />
    </div>








</form>
{% endblock %}