{% extands "base.html" %}
{% block title %}
Sign Up
{% endblock the content%}
<form method="POST">
    <h3 align="center"> Sign Up</h3>
    <div class="from grop">
        <label for="email"> Email Adress</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder=" Enter email"
        />
    </div>
    <div class="from grop">
        <label for="email"> Email Adress</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder=" Enter email"
        />
    </div>
</form>
{% endblock %}